.body-cont {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-nav-cont {
  background-color: #e2e8f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  padding: 30px;
}

.nav-h1 {
  color: #475569;
  font-size: 28px;
}

.nav-ul-cont {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.nav-item {
  color: #64748b;
  font-size: 25px;
  font-weight: 600;
}

.content-cont {
  background-color: #f1f5f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  padding: 30px;
}

.content-p {
  color: #64748b;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.nav-right-item {
  border: 1px solid #475569;
  width: 120px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #64748b;
  font-size: 25px;
  font-weight: 600;
}

.right-nav-cont {
  height: 550px;
}

@media screen and (min-width: 768px) {
  .body-cont {
    flex-direction: row;
    align-items: flex-start;
  }
  .left-nav-cont {
    justify-content: flex-start;
    align-items: flex-start;
    height: 550px;
  }
  .content-cont {
    justify-content: flex-start;
    align-items: flex-start;
    height: 550px;
  }
  .content-p {
    text-align: start;
  }
  .nav-h1 {
    text-align: start;
  }
  .nav-right-item {
    width: 150px;
    height: 150px;
  }
  .nav-ul-cont {
    flex-direction: column;
    align-items: flex-start;
  }
  .right-nav-cont {
    flex-direction: column;
    align-items: center;
  }
  .nav-right-h1 {
    align-self: flex-start;
  }
}
